<!DOCTYPE html>
<html>
<head>
<title>Auth</title>
</head>
<body>
    <center>
    <br />
    <div>Authentification:</div>
    <br />
    <a href="/register">Register</a>
    <a href="/login">Log In</a>
    <a href="/logout">Log Out</a>
    </center>
</body>
</html>
